<div id="one">
<h1>div nr 1</h1>
    <div id="two">
<h1>div nr 2</h1>
    <div id="three">
<h1>div nr 3</h1>
    <ul>
      <li>element 1</li>
      <li>element 2</li>
      <li>element 3</li>
      </ul>
      <div class="viktig">
      </div>
    </div>
    </div>

    div{
        border: 1px solid black;
        margin: 5px auto;
        padding: 5px;
      }
      
      h1, h2, h3 {
        background-color: black;
        color: white;
        padding: 0px 5px;
        margin: 0px;
        }
      
      #one {
        bakground-color: #cccccc;
        }
      #two {
        width: 50%;
        margin: 5px;
        
        }
      #three {
        width: 50%;
        min-height: 100px;
        background-color: red;
      }