#container {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
}

#red {
	background-color: red;
	flex-wrap: 100%;
	height: 16.67%;
}

#orange {
	background-color: orange;
	flex-wrap: 100%;
	height: 16.67%;
}

#yellow {
	background-color: yellow;
	flex-wrap: 100%;
	height: 16.67%;
}

#green {
	background-color: green;
	flex-wrap: 100%;
	height: 16.67%;
}

#blue {
	background-color: blue;
	flex-wrap: 100%;
	height: 16.67%;
}

#purple {
	background-color: purple;
	flex-wrap: 100%;
	height: 16.67%;
}
